-content_for :pageheader, "#{@player.name} Stats"
= javascript_include_tag "//www.google.com/jsapi", "chartkick"
.span2
  Avatar
.span4
  %dl.dl-horizontal
    %dt Matches Played
    %dd=@player.matches
    %dt Matches Won
    %dd=@player.matcheswon
    %dt Match Win Percentage
    %dd
      =@player.winning_ratio
      \%
    %dt Rounds Played
    %dd=@player.rounds
    %dt Rounds Won
    %dd=@player.roundswon
    %dt Total Goals
    %dd=@player.goals
    %dt Shooting Goals
    %dd=@player.shootgoals
.span4
  = pie_chart ({"Shooting Goals" => @player.shootgoals, "Passes Completed to Teammate" => @player.passes, "Passes Completed to Self" => @player.selfpass, "Throws Resulting in Turnovers" => @player.turnovers})
