.span2
  Avatar
.span4
  %dl.dl-horizontal
    %dt Matches Played
    %dd=@player.matches
    %dt Matches Won
    %dd=@player.matcheswon
    %dt Match Win Percentage
    %dd
      =@mratio
      \%
    %dt Rounds Played
    %dd=@player.rounds
    %dt Rounds Won
    %dd=@player.roundswon
    %dt Total Goals
    %dd=@player.goals
    %dt Shooting Goals
    %dd=@player.shootgoals
.span4
  PieChaaaaaht