-content_for :pageheader, "#{@stats[:name]} Stats"
= javascript_include_tag "//www.google.com/jsapi", "chartkick"
.span2{:style => "padding-top: 17px"}
  =link_to image_tag("http://fi.somethingawful.com/safs/titles/bd/25/00099618.0001.gif")
.span4
  %strong Round Statistics
  %dl.dl-horizontal
    %dt Rounds Played
    %dd=@stats[:rounds]
    %dt Rounds Won
    %dd=@stats[:wins]
    %dt Total Goals
    %dd=@stats[:goals]
    %dt Total Assists
    %dd=@stats[:assists]
    %dt Round Win Percentage
    %dd="#{@stats[:roundwinpercent]}\%"
    %dt Goals Per Round
    %dd=@stats[:goalsperround]
    %dt Assists Per Round
    %dd=@stats[:assistsperround]


