-content_for :pageheader, "#{@data[:mapname]} Round #{@data[:roundid]} Stats"
=image_tag "maps/#{@data[:mapname]}.png", :style => "position: absolute; left: 10px; top: 190px; float: left;"
.row
  .span2.offset5
    %p.strong.center Winning Goal
    %p.center=link_to @data[:goal], user_path(@data[:goal])
    -if @data[:assists].count > 0
      %p.strong.center Assists
      -@data[:assists].each do |player|
        %p.center=link_to player, user_path(player)

.row
  .span4.offset2
    %p.strong.center Winners
    %hr
    -@data[:winners].each do |winner|
      %p.center=link_to winner, user_path(winner)

  .span4
    %p.strong.center Losers
    %hr
    -@data[:losers].each do |loser|
      %p.center=link_to loser, user_path(loser)
