-content_for :pageheader, "Top Players"
.row
  .span12
    %table.table.table-striped.offset2.span8
      %thead
        %tr
          %th Player Name
          %th Rounds Played
          %th Rounds Won
          %th Win Percentage
      %tbody
        -@players.each do |player|
          %tr
            %td=link_to player.username, player
            %td=player.total_rounds
            %td=player.rounds_won
            %td #{player.winning_round_ratio}%
