// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background: lightgray;
}

.jumbotron {
    height: 100px;
    padding: 40px 0;
    margin-bottom: 10px;
    position: relative;
    border: solid black 1px;
    background: url("header_bg.png") repeat-y right #20032c;
    color: white;
}
